<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/newEmployee.css">
    <title>Bi-Monthly Report</title>
</head>
<body>

<form action="add-report" method="POST">

    <div id="form">

        <p></p>
        <input type="text" placeholder="First Name" name="firstName">
        <input type="text" placeholder="Last Name" name="lastName">
        <input type="text" placeholder="Company" name="company">

        <input type="number" placeholder="How long have you used the suit?" name="durationOfUse">
        <input type="number" placeholder="How likely are you to recommend?" name="likelyToRecommend">
        <input type="number" placeholder="How would you feel if you couldn't use the suit?" name="whatIfYouCouldntUse">
        <input type="number" placeholder="Rate your effort during a day with the suit." name="effortDuringADayWithSuit">
        <input type="number" placeholder="Rate your effort during a typical lift with the suit." name="effortWhileWearing">
        <input type="number" placeholder="Rate your effort during the heaviest kind of lift with the suit." name="effortDuringHeaviestLift">



        <input type="number" placeholder="Overall Effort" name="overallEffort">
        <input type="number" placeholder="Typical Lift Effort" name="typicalLiftEffort">
        <input type="number" placeholder="Heaviest Lift Effort" name="heaviestLiftEffort">
        <input type="number" placeholder="Right Shoulder Discomfort" name="rightShoulderDiscomfortWearing">
        <input type="number" placeholder="Left Shoulder Discomfort" name="leftShoulderDiscomfortWearing">
        <input type="number" placeholder="Upper Back Discomfort" name="upperBackDiscomfortWearing">
        <input type="number" placeholder="Lower Back Discomfort" name="lowerBackDiscomfortWearing">
        <input type="number" placeholder="Right Hip Discomfort" name="rightHipDiscomfortWearing">
        <input type="number" placeholder="Left Hip Discomfort" name="leftHipDiscomfortWearing">
        <input type="number" placeholder="Right Thigh Discomfort" name="rightThighDiscomfortWearing">
        <input type="number" placeholder="Left Thigh Discomfort" name="leftThighDiscomfortWearing">
        <input type="number" placeholder="Right Knee Discomfort" name="rightKneeDiscomfortWearing">
        <input type="number" placeholder="Left knee Discomfort" name="leftKneeDiscomfortWearing">

        <h3>While wearing the suit, you are comfortable while...</h3>

        <input type="number" placeholder="working?" name="comfortWhileWorking">
        <input type="number" placeholder="walking?" name="comfortWhileWalking">
        <input type="number" placeholder="Stepping on or off equipment or stairs?" name="comfortWhileSteppingUpDown">
        <input type="number" placeholder="driving?" name="comfortWhileDriving">
        <input type="number" placeholder="while taking breaks from the job?" name="comfortDuringBreaks">
        <br>
        <h3>The suit helps me to work...</h3>
        <input type="number" placeholder="with less bodily discomfort" name="reducesDiscomfort">

        <h3>The suit...</h3>

        <input type="number" placeholder="makes me uncomfortably hot, so I wouldn't use it." name="feelsHot">
        <input type="number" placeholder="is light enough to wear for an entire shift" name="lightEnoughForFullShift">
        <input type="number" placeholder="allows me to move with my full range of motion" name="fullRangeOfMotion">
        <input type="number" placeholder="I would like to use this suit frequently" name="wouldLikeToUseFrequently">
        <input type="number" placeholder="I found the suit too complex" name="tooComplex">
        <input type="number" placeholder="I found the suit easy to use" name="easyToUse">
        <input type="number" placeholder="I would need a technical person to help me use the suit" name="wouldNeedTechnicalPerson">
        <input type="number" placeholder="I found that the various functions on this suit were well integrated" name="suitIsWellIntegrated">
        <input type="number" placeholder="I thought there was too much inconsistency in the suit" name="tooMuchInconsistency">
        <input type="number" placeholder="Most people would learn to use this suit quickly" name="mostWouldFindEasy">
        <input type="number" placeholder="I found the suit too cumbersome" name="tooCumbersome">
        <input type="number" placeholder="I feel confident while wearing the suit" name="iFeltConfident">
        <input type="number" placeholder="I needed to learn a lot before wearing the suit" name="neededToLearnALot">
        <input type="number" placeholder="The suit has been useful for my work" name="hasBeenUseful">
        <input type="number" placeholder="I'd like to continue using the suit" name="idLikeToContinueWearing">
        <input type="number" placeholder="I felt safe while wearing the suit" name="feelSafe">
        <input type="number" placeholder="I was able to move naturally" name="canMoveNaturally">
        <input type="number" placeholder="I'm able to use my tools and equipment normally while wearing the suit" name="useToolsNormally">
        <input type="number" placeholder="I would use the suit every day if it was provided" name="wouldUseDaily">
        <input type="number" placeholder="The suit is easy to put on" name="easyToPutOn">
        <input type="number" placeholder="The suit is easy to take off" name="easyToTakeOff">
        <input type="number" placeholder="The suit reduces overall work fatigue" name="reducesWorkFatigue">
        <input type="number" placeholder="The suit improves my work performance" name="improvesWorkPerformance">
        <input type="number" placeholder="I think the suit could help me to prevent lower back injury" name="preventLowBackInjury">
        <input type="number" placeholder="I think the suit is durable and reliable enough to use daily" name="reliableAndDurable">
        <input type="number" placeholder="Would you use the suit for all or only some tasks?" name="allOrSomeTasks">
        <input type="text" placeholder="If you would use the suit for only some tasks, what would these be?" name="whichTasks">
        <input type="number" placeholder="How many days did it take to get used to wearing the suit?" name="daysToGetUsedToIt">
        <input type="text" placeholder="What do you suspect are the long-term effects of wearing the suit?" name="longTermEffects">
        <input type="text" placeholder="What do you like about the suit?" name="whatDoYouLikeAboutIt">
        <input type="text" placeholder="What do you hate about the suit?" name="whatDoYouHateAboutIt">
        <input type="text" placeholder="Any additional thoughts about the suit?" name="additionalNotes">


        <button type="submit">Submit Form</button>
    </div>
</form>


</body>
</html>
