<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/newEmployee.css">
    <title>New Employee Submit Form</title>
</head>
<body>

<div>
    <form action="add-person" method="POST">

        <div id="form">

            <p></p>
        <input type="text" placeholder="First Name" name="firstName">
        <input type="text" placeholder="Last Name" name="lastName">
        <input type="text" placeholder="Company" name="company">
        <input type="text" placeholder="email" name="email">

        <input type="number" placeholder="height" name="height">
        <input type="number" placeholder="weight" name="weight">
        <input type="number" placeholder="waist" name="waist">
        <input type="number" placeholder="age" name="age">
        <input type="number" placeholder="gender" name="gender">
        <input type="number" placeholder="years at current job" name="years">
        <input type="number" placeholder="Overall Effort" name="overallEffort">
        <input type="number" placeholder="height" name="height">
        <input type="number" placeholder="Typical Lift Effort" name="typicalLiftEffort">
        <input type="number" placeholder="Heaviest Lift Effort" name="heaviestLiftEffort">
        <input type="number" placeholder="Right Shoulder Discomfort" name="rightShoulderDiscomfort">
        <input type="number" placeholder="Left Shoulder Discomfort" name="leftShoulderDiscomfort">
        <input type="number" placeholder="Upper Back Discomfort" name="upperBackDiscomfort">
        <input type="number" placeholder="Lower Back Discomfort" name="lowerBackDiscomfort">
        <input type="number" placeholder="Right Hip Discomfort" name="rightHipDiscomfort">
        <input type="number" placeholder="Left Hip Discomfort" name="leftHipDiscomfort">
        <input type="number" placeholder="Right Thigh Discomfort" name="rightThighDiscomfort">
        <input type="number" placeholder="Left Thigh Discomfort" name="leftThighDiscomfort">
        <input type="number" placeholder="Right Knee Discomfort" name="rightKneeDiscomfort">
        <input type="number" placeholder="Left knee Discomfort" name="leftKneeDiscomfort">


        <button type="submit">Submit Form</button>
        </div>
    </form>
</div>


</body>
</html>
